* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


main {
    flex: 1
}
.cabeçalho {
    height: 269px;

    background-color: #000;
    color: white;

    text-align: center;
    font-family: 'Space Grotesk', sans-serif;

    overflow: hidden;

    padding-top: 0;
}

.logo {
    width: 600px;
    height: 180px;

    margin: 0 auto;

    overflow: hidden;
}

.logo img {
    display: block;

    width: 550px;
    height: 550px;

    margin-top: -165px;
}

.cabeçalho h2 {
    margin: 0;

    font-family: 'Space Grotesk', sans-serif;

    font-size: 20px;
    font-weight: 600;

    letter-spacing: 3px;

    line-height: 1.2;
}

.menu {
    margin-top: 12px;

    background-color: #000000;

    text-align: center;
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;

    list-style: none;

    text-align: center;
}

.menu a {
    display: block;

    padding: 10px 16px;

    color: rgb(251, 250, 250);

    background-color: #000000;

    text-decoration: none;

    font-family: 'Space Grotesk', sans-serif;

    transition: 0.2s;

    text-align: center;


}
.menu :hover {

    color: rgb(134, 156, 255);

    

}


.conteudo {
    text-align: center;

    padding-top: 35px;
}

.conteudo > img {
    display: block;
    width: 400px;
    height: 350px;
    max-width: 90%;
    margin: 35px auto 0;
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.485);
}

.conteudo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.secao-cards {
    width: 90%;
    margin: 40px auto;
}

.secao-cards h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.carrossel {
    overflow-x: auto;
    padding: 15px;
    scroll-behavior: smooth;
}

.carrossel-conteudo {
    display: flex;
    gap: 20px;

    width: max-content;
    min-width: 100%;

    justify-content: center;
}


.sobre {
    width: 80%;
    max-width: 900px;

    margin: 50px auto;

    font-family: 'Montserrat', sans-serif;
    color: #222;
}

.sobre h1 {
    text-align: center;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;

    margin-bottom: 35px;
}

.sobre p {
    font-size: 17px;
    line-height: 1.8;

    text-align: justify;

    margin-bottom: 22px;
}

.sobre b {
    font-weight: 700;
}



.foto-sobre {
    display: block;

    width: 400px;
    max-width: 100%;

    margin: 40px auto;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.rodape {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 102px;
    font-family: 'Montserrat', sans-serif;

    
}

.rodape p {
    margin: 10;
}

.card {
    min-width: 250px;
    height: 250px;

    background-color: white;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
}

.card img {
    width: 60px;
    height: 60px;

    object-fit: contain;

    margin-bottom: 15px;
}

.card p {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card:hover {
    transform: translateY(-5px);

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}


.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    margin-top: 40px;
    margin-bottom: 40px;
}


.botao-contato {
    width: 500px;
    max-width: 90%;

    min-height: 100px;

    display: flex;
    align-items: center;

    background-color: white;
    color: black;

    border-radius: 14px;

    text-decoration: none;

    padding: 15px 20px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    transition: 0.3s;

}

.icone-contato {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    flex-shrink: 0;
}


.icone-contato img {
    max-width: 55px;
    max-height: 55px;

    object-fit: contain;

}

.texto-contato {
    display: flex;
    flex-direction: column;

    text-align: left;
}


.texto-contato span {
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    font-weight: 700;
}


.texto-contato small {
    margin-top: 5px;

    font-family: 'Montserrat', sans-serif;

    font-size: 14px;
    color: #666;
}

.botao-contato:hover {
    transform: translateY(-5px);

    background-color: #111fff;
    color: white;

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}


.botao-contato:hover small {
    color: #ddd;
}


.gato{
    border-radius: 50%;
    width: 50px;
    height:50px;
}
.pagina {
    text-align: center;
}
.rodapee {
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    height: 221px;
    font-family: 'Montserrat', sans-serif;
}
.rodapee p {
    margin-top: 111px;
}